@charset "utf-8";
@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$basecolor1: #f9f8f6;
$basecolor2: #ffffff;
$subcolor: #887f69;

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html{
    font-size: 62.5%;
    background-color: $basecolor1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header{
  #header_in{
    .logo_sp{
          padding-top: 10px;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
    }
    /* logo_sp ここまで */
    
    .logo_pc{
      display: none;
    }
     .navi{
        .pc_navi{
      ul{
        li{
          display: none;
        }
        
      }
    }
    /* pc_navi ここまで */
     
    .icon{
      text-align: center;
      .each_icon{
        display: inline;
        img{
         margin: 10px 5px 10px 0px; 
        }
      }  
      /* each_icon ここまで */
      .hamburger_menu{
        position: relative;
         cursor: pointer;
        .hamburger_menu_toggle{
          width: 380px;
          height: 230px;
          position: absolute;
          display: none;
          z-index:2;
          background-color: #ff6d77;
          padding-bottom: 10px;
          li{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.5rem;
            text-align: left;
            padding-top: 20px; 
            padding-bottom: 20px;
            border-top: 1px solid $basecolor2;
            a{
              color: $basecolor2;
              text-decoration: none;
            }
            /* a ここまで */
          }
          /* li ここまで */
        }
      }
      /* hamburger_menu ここまで */
    }
    /* icon ここまで */
   }
   /* navi ここまで */ 
    .banner{
      img{
        width: 100%;
      }
    }
    /* banner ここまで*/
  }
  /* header_in ここまで */
}
/* header ここまで */


@media (min-width: 500px){
  
  html{
    width: 75%;
    padding-left: auto;
    padding-right: auto;
  }
  header{
       width: 100%;
       padding-top: 75px;
       padding-bottom: 75px;
   #header_in{
       width: 100%;
     .logo_sp{
       display: none;
     }
     /* logo_sp */
     
     .logo_pc{
       float: left;
       width: 20%;
       display: block;
       padding-bottom: 0px;
     }
     /* logo_pc ここまで */
     
     .navi{
       float: right;
       padding-right: 20px;
       padding-bottom: 0px;
       .pc_navi{
         width: 100%;
         ul{
           li{
             display: inline;
             margin-right: 10px;
           }
         }
       
       }
       /* pc_navi ここまで */
       .icon{
         display: none;
       }
       /* icon ここまで */
     }
     /* navi ここまで */
     
    }
    /* header_in ここまで */
    
    header_in::after{
      clear: both;
    }
  }
  /* header ここまで */
  .container{
    clear: both;
  }
  /* container ここまで */
}
/* @media ここまで  */
.container{
  main{
    #new_items{
      .image_sp{
          width: 30%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          margin-bottom: 15px;
        img{
          width: 100%;
          
        }
        /* img ここまで */
      }
      /*image_sp ここまで */
      
      .image_pc{
        display: none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 100%;
        }
        /* img ここまで */
      }
       /* image_pc ここまで */ 
       
      .content{
        flex-wrap: wrap;
        @include display-flex;
        justify-content:space-between;
        @include flex-direction(row); 
        .each_content{
          width: 49.7%;
          background-color: $basecolor2;
          padding-top: 7px;
          margin-bottom: 2px;
          .each_picture{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            
            margin-bottom: 7px;
             img{
               width: 100%;
             }
          }
          /* each_picture ここまで */
           p{
             width: 90%;
             margin-left: auto;
             margin-right: auto;
           }
          .item_value{
            margin-top: 10px;
            margin-bottom: 10px;
          }
          
        }
        /* each_content ここまで */
      }
      /* content ここまで */
    }
    /* new_items ここまで */
    
     #popular_items{
       .image_sp{
          width: 30%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
          margin-bottom: 15px;
        img{
          width: 100%;
          
        }
        /* img ここまで */
      }
      /*image_sp ここまで */
      
      .image_pc{
        display: none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 100%;
        }
        /* img ここまで */
      }
       /* image_pc ここまで */ 
     
      .content{
        flex-wrap: wrap;
        @include display-flex;
        justify-content:space-between;
        @include flex-direction(row); 
        .each_content{
          width: 49.7%;
          padding-top: 7px;
          margin-bottom: 2px;
          background-color: $basecolor2;
          
          .each_picture{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7px;
            img{
              width: 100%;
             
            }
            /* img ここまで */
          }
          /* each_picture ここまで */
           p{
             width: 90%;
             margin-left: auto;
             margin-right: auto;
           }
           .item_value{
             margin-top: 10px;
             margin-bottom: 10px;
           }
           /* item_value ここまで */
        }
        /* each_content ここまで */
      }
      /* content ここまで */
    }
    /* popular_items ここまで */
    
    #shopping_guide{
      padding-top: 15px;
      background-color: $basecolor1;
      .image_sp{
          width: 30%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
        img{
          width: 100%;
          
        }
        /* img ここまで */
      }
      /*image_sp ここまで */
      
      .image_pc{
        display: none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 100%;
        }
        /* img ここまで */
      }
       /* image_pc ここまで */ 
     
      .content{
        
       .otodoke{
           background-color: $basecolor2;
         .otodoke_content{
           width: 90%;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 17px;
           padding-bottom: 10px;
          h1{
            color: $subcolor;
           font-size: 2rem;
           font-weight: bold;
           padding-top: 15px;
           margin-bottom: 0px;
          }
          /* h1 ここまで */
          .otodoke_banner{
            margin-top: 15px;
            width: 60%;
          }
          /* otodoke_banner ここまで */
          ol{
            font-size: 1.2rem;
            li{
              color: $subcolor;
              font-weight: bold;
              margin-top: 15px;
              margin-bottom: 15px;
            p{
              color: #000000;
              font-weight: normal;
              padding-top: 10px;
            }
            /*pここまで */
            }
            /* li ここまで */
            
          }
          /* olここまで */
         }
         /* otodoke_content ここまで */
        }
        /* otodoke ここまで */
        .kessai{
          background-color: $basecolor2;
         .kessai_content{
           width: 90%;
           margin-left: auto;
           margin-right: auto;

          h1{
            color: $subcolor;
            font-weight: bold;
            font-size: 2rem;
            padding-top: 15px;
            padding-bottom: 0px;
          }
          /* h1 ここまで */
          ul{
            
            li{
              margin-top: 15px;
              margin-bottom: 15px;
              font-size: 1.2rem;
              font-weight: bold;
              color: $subcolor;
             img{
              margin-top: 10px;
              width: 100%;
             }
             /* img ここまで */
             p{
              font-weight: normal;
              color: #000000;
              line-height: 1.2;
              padding-top: 10px;
              padding-bottom: 5px;
             }
             /* pここまで */
            }
            /* li ここまで */
           
            
          }
          /* ul ここまで */
         }
         /* kessai_content ここまで */
        }
        /* kessai ここまで */
      }
      /* content ここまで */
    }
    /* shopping_guide ここまで */
  }
  /* main ここまで */
  aside{
    .item_search{
      position: relative;
      background-color: $basecolor2;
      padding-top: 20px;
      padding-bottom: 20px;
      .search_box{
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         img{
         display: none;
         }
        input{
          width: 100%;
          background-color: $basecolor1;
          background-image: url(../images/top/search_icon.png);
          background-repeat: no-repeat;
          background-position: 95% center;
          border: none;
          padding-top: 10px;
          padding-bottom: 10px;
          
      }
      /* input ここまで */
     }
     /*search_box ここまで */
    }
    /* item_search ここまで */
    .each_box{
      position: relative;
      height: 50px;
      background-color: $subcolor;
      margin-top: 10px;
      margin-bottom: 10px;
      
      img{
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    /* each_box ここまで */
    .page_link{
      .each_box{
        background-image: url(../images/top/next_icon_gray.png);
        background-repeat: no-repeat;
        background-position: 95% center; 
      }
    }
    /* page_link ここまで */
    .categories{
      .each_box{
        background-image: url(../images/top/down_icon.png);
        background-repeat: no-repeat;
        background-position: 95% center; 
      }
      .each_categories{
        li{
          background-color: $basecolor2;
          margin-bottom: 3px;
          p{
            font-size: 1.5rem ;
            padding: 10px;
            
            background-image: url(../images/top/next_icon_gray.png);
            background-repeat: no-repeat;
            background-position: 95% center;
            
          }
          /*p ここまで　*/
      }
      /* li ここまで */
     
    }
    /* each_categories ここまで */
      
      
    }
    /* categories ここまで */
    
    .about{
      background-color: $basecolor2;
      padding-bottom: 5px;
      .about_content{
        width: 97%;
        margin-left: auto;
        margin-right: auto;
        .content_picture{
          width: 50%;
          float: left;
        img{
          width: 90%;
          margin-left: 5px;
        }
         /* img ここまで */
      }
      /* content_picture */
      
      .content_sentence{
        padding-left: 0;
        font-size: 1.3rem;
        line-height: 150%;
        img{
          margin-top: 8px;
        }
        /* img ここまで */
      }
      
      /* content_sesntence */
      }
      /* about_content */
    }
    /* about ここまで */
    
    .shop_info{
       background-color: $basecolor2;
      .each_box{
        clear: both;
      }
      /* each_box */
       .shop_info_content{
         width: 97%;
         margin-left: auto;
         margin-right: auto;
         padding-bottom: 10px;
        .content_picture{
          width: 50%;
          float: left;
          img{
           display: inline;
           width: 90%; 
           margin-left: 5px;
          }
          /* img ここまで */
      }
      /* content_picture */
      
      .content_sentence{
        p{
          font-size: 1.3rem;
          line-height: 150%;
         
        }
       /* p ここまで */
         img{
            margin-top: 8px;
          }
        /* img ここまで */
      }
      /* content_sentence */
    }
    /* shop_info_content ここまで */
    }
    /* shop_info ここまで*/
   
  }
  /* asideここまで */
   
    
}
/* container ここまで */
 @media (min-width: 500px){
   .container{
     main{
       width: 73%;
       float: left;
       #new_items{
         .image_sp{
           display: none;
        img{
          
        }
        /* img ここまで */
      }
      /*image_sp ここまで */
      
      .image_pc{
        width: 100%;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        img{
          width: 100%;
        }
        /* img ここまで */
      }
       /* image_pc ここまで */ 
         .content{
           .each_content{
             width: 33%;
           }
         }
        /* content ここまで */ 
       }
      /* new_items ここまで */
      
       #popular_items{
          .image_sp{
           display: none;
          
        img{
          
        }
        /* img ここまで */
      }
      /*image_sp ここまで */
      
      .image_pc{
        width: 100%;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        img{
          width: 100%;
        }
        /* img ここまで */
      }
       /* image_pc ここまで */ 
         .content{
           .each_content{
             width: 33%;
           }
         }
        /* content ここまで */ 
       }
      /* popular_items ここまで */ 
    
      #shopping_guide {
      .image_sp{
           display: none;
        img{
          
        }
        /* img ここまで */
      }
      /*image_sp ここまで */
      
      .image_pc{
        width: 100%;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        img{
          width: 100%;
        }
        /* img ここまで */
      }
       /* image_pc ここまで */ 
        
        .content{
          display: flex;
         .otodoke{
           width: 49.5%;
         } 
        /* otodoke ここまで */
       
         .kessai{
           width: 49.5%;
           margin-left: 5px;
         }
        /* kessai ここまで　*/
        }
       /* content ここまで */
        
      }
      /* shopping_guideここまで */
     }
     /* main ここまで */
     aside{
      float: left;
      width: 22%;
      margin-left: 40px;
      
      
    .item_search{
      .search_box{
         img{
         display: block;
         margin-bottom: 10px;
         }
         /* img ここまで */
        input{
      }
      /* input ここまで */
     }
     /*search_box ここまで */
    }
    /* item_search ここまで */
      
       .about{
      .about_content{
         width: 90%;
        
        .content_picture{
          width: 100%;
          float: none;
          
        img{
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
         /* img ここまで */
      }
      /* content_picture */
      
      .content_sentence{
         width: 100%;
        img{
           width: 60%;
           margin-left: 30px;
        }
        /* img ここまで */
      }
      
      /* content_sesntence */
      }
      /* about_content */
    }
    /* about ここまで */
    
    .shop_info{
      .each_box{
       
      }
      /* each_box */
       .shop_info_content{
         width: 90%;
        .content_picture{
           width: 100%;
          img{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          /* img ここまで */
      }
      /* content_picture */
      
      .content_sentence{
        width: 100%;
        p{
         
        }
       /* p ここまで */
         img{
           width: 60%;
           margin-left: 30px;
          }
        /* img ここまで */
      }
      /* content_sentence */
    }
    /* shop_info_content ここまで */
    }
    /* shop_info ここまで*/
   
    
     }
     /* aside ここまで */
     
     .pagetop_mozi{
       text-align: right;
     }
     /* pagetop_mozi ここまで */
   }
   /* container ここまで */
   footer{
     clear: both;
   }
 }
 /* @media ここまで */

footer{
   .pagetop_mozi{
        clear: both;
        height: 60px;
        position: relative;
        border-bottom: solid thin $subcolor;
      img{
        zoom: 1.2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    /* pagetop_mozi */
  ul{
    text-align: center;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    li{
      line-height: 150%;
      display: inline;
    }
    /*li ここまで */
  }
  /* ul ここまで */
  p{
    color: #b0b0b0;
    text-align: center;
    margin-bottom: 40px;
  }
}
/* footer ここまで */

@media (min-width: 500px){
  footer{
    .pagetop_mozi{
      img{
      right: 0px;
      left: auto;
      }
    }
  }
  /* footer ここまで */
}

/* list ページ　ここから */
.container{
  
  main{
    .list_pankuzu_list{
     background-color: #e2ddd4;
     font-size: 1.1rem;
     color: $subcolor;
     padding-top: 10px;
     padding-bottom: 10px;
      p{
     
    }
   }
   /*product_pankuzu_list ここまで */
    
    
    .head_picture{
      img{
        width: 100%;
      }
    }
    /* head_picture ここまで */
    #list_items{
      @extend #new_items; 
    }
    /* list_items ここまで */
    
    #recent_items{
      padding-top: 5px;
      background-color: $basecolor1;
      h1{
        margin-top: 15px;
        text-align: center;
        font-size: 2rem;
  
      }
      @extend #popular_items;
    }
    
  }
  /* main ここまで */
}
/* container ここまで */
/* listページ ここまで */

/* products ページ　ここから */

 .container{
  main{
    background-color: $basecolor1;
   .product_pankuzu_list{
     background-color: #e2ddd4;
     font-size: 1.1rem;
     color: $subcolor;
     padding-top: 10px;
     padding-bottom: 10px;
      p{
     
    }
   }
   /*product_pankuzu_list ここまで */
  .product_display{
    background-color: $basecolor2;
     width: 100%;
     
    .display_content{
      width: 95% ;
      margin-left: auto;
      margin-right: auto;
     
    .item_name{
       padding-top: 20px;
       padding-bottom: 15px;
       border-bottom: 1px solid #e2ddd4;
       margin-bottom: 10px;
      h1{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5px;
      }
      /* h1 ここまで */
      
      p{
        color: $subcolor;
      }
      /* p ここまで */
    }
    /* item_name ここまで*/
     #display_items{
      .display_picture{
        img{
          width: 100%;
        }
      }
      /* display_picture ここまで */
    .list_picture{
       flex-wrap: wrap;
        @include display-flex;
        justify-content:space-between;
        @include flex-direction(row); 
      li{
        width:  18%;
        img{
          width: 100%;
         background-color:$basecolor1;
         cursor: pointer;
         
        }
        /* img ここまで */
      }
      /* li ここまで */
    }
    /* list_picture ここまで */
   } 
   /* display_items ここまで */
 }
 /* display_content ここまで */
 
 
   .color-size{
      width: 95% ;
      margin-left: auto;
      margin-right: auto;
     .title_name{
       padding-top: 20px;
       padding-bottom: 20px;
     }
     /* title_name ここまで */
     table{
       width: 100%;
       border-collapse: collapse;
       border: 1px solid #e2ddd4;
       tr{
         td{
           background-color: $basecolor1;
           border: 1px solid #b0b0b0;
           text-align: center;
           font-size: 1.3rem;
           line-height: 4rem;
           color: $subcolor;
         }
         /* td ここまで */
       }
       /* tr ここまで */
       tr:nth-child(2){
         td:nth-child(2){
           background-color: $basecolor2;
         }
         td:nth-child(3){
           background-color: $basecolor2;
         }
       }
     }
     /*table ここまで */
   }
   /* color-size ここまで */
   
 .purchase_area{
   width: 95%;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
  .price_quantity{
   .price{
       
       margin-bottom: 0px;
       margin-left: auto;
       margin-right: auto;
       section{
         padding-top: 20px;
         padding-bottom: 20px;
         font-style: italic; 
         border-top: 1px solid #e2ddd4;
         border-bottom: 1px solid #e2ddd4;
         img{
           
         }
         p1{
           margin-left: 40px;
           color: #ff0000;
           font-size: 2.5rem;
          p2{
           font-size: 1.3rem;
           color: #000000;
           
         }
         /* p2 ここまで */
         }
         /* p1 ここまで */ 
        
       }
       /* section ここまで */
   }
   /* price ここまで */
   
   .quantity{
       display: flex;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 15px;
       padding-top: 20px;
       padding-bottom: 20px;
       border-bottom: 1px solid #e2ddd4;
     
       
      img{
        
       }
         /* img ここまで */
     
      input{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 20px;
      }
     /* input ここまで */
   }
   /* quantity ここまで */
   }
   /* price_quantity ここまで */
   .purchase_button{
     width: 100%;
     text-align: center;
     img{
       
     }
   }
   /* purchase_button ここまで */
  }
  /* purchase_area ここまで */

  
  .product_description{
    margin-top: 30px;
    padding-bottom: 20px;
    h1{
      font-size: 1.3rem;
      color: $subcolor;
      font-weight: bold;
      padding-bottom: 10px;
    }
    /* h1 ここまで */
    
    .description_title{
      border-top: 1px solid $subcolor;
      font-size: 1.3rem;
      color: $subcolor;
      font-weight: bold;
      line-height: 1.3;
      padding-top: 10px;
    }
    /* description_title ここまで */
    
    .description_text{
      margin-top: 10px;
      margin-bottom: 10px;
      p{
        font-size: 1.2rem;
        line-height: 1.3;
      }
      /* p ここまで */
    }
    /* description_text ここまで */
      table{
       width: 100%;
       border-collapse: collapse;
       border: 1px solid #e2ddd4;
       tr{
         
         td{
           background-color: $basecolor2;
           border: 1px solid #b0b0b0;
           text-align: center;
           font-size: 1.1rem;
           line-height: 3rem;
           color: $subcolor;
         }
         /* td ここまで */
         td:nth-child(1){
           background-color: $basecolor1;
           padding-left: 15px;
           padding-right: 15px;
         }
         /* td:nth-child(1)ここまで */
         
          td:nth-child(2){
           padding-left: 5px;
           padding-right: 5px;
         }
         /* td:nth-child(2)ここまで */
         
         
       }
       /* tr ここまで */
       
     }
     /*table ここまで */
  }
  /* product_description ここまで */
  }
 /* product_display ここまで */
 }
 /* main ここまで */
}
/* container ここまで */

@media(min-width: 550px){
  
  .container{
  main{
   .product_pankuzu_list{
      p{
     
    }
   }
   /*product_pankuzu_list ここまで */
  .product_display{
    width: 100%;
    .display_content{
      width: 80%;
    .item_name{
      h1{
        float: left;
      }
      /* h1 ここまで */
      p{
        float: right;
        vertical-align: bottom;
        margin-right: 0px;
      }
      /* p ここまで */
    }
    /* item_name ここまで*/
     #display_items{
       clear: both;
       display: flex;
      .display_picture{
        width: 70%;
        img{
         width: 100%;
        }
      }
      /* display_picture ここまで */
    .list_picture{
       width: 27%;
       margin-left: 20px;
      li{
        width:  48%;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        img{
          width: 100%;
         
         
        }
        /* img ここまで */
      }
      /* li ここまで */
    }
    /* list_picture ここまで */
   } 
   /* display_items ここまで */
 }
 /* display_content ここまで */
   .color-size{
     width: 100%;
     .title_name{
       
     }
     /* title_name ここまで */
     table{
      
       tr{
         td{
          
         }
         /* td ここまで */
       }
       /* tr ここまで */
       tr:nth-child(2){
         td:nth-child(2){
           
         }
         td:nth-child(3){
           
         }
       }
     }
     /*table ここまで */
   }
   /* color-size ここまで */
   
   
    .purchase_area{
      width: 100%;
      display: flex;
      padding-bottom: 0px;
      border-bottom: 1px solid #e2ddd4;
  .price_quantity{
      width: 58%;
      margin-bottom: 0px;
   .price{
       
       section{
         
         img{
           
         }
         p1{
          
          p2{
           
         }
         /* p2 ここまで */
         }
         /* p1 ここまで */ 
        
       }
       /* section ここまで */
   }
   /* price ここまで */
   
   .quantity{
     margin-bottom: 0px;
     border-bottom: none;
   }
   /* quantity ここまで */
   }
   /* price_quantity ここまで */
   .purchase_button{
      width: 37%;
      margin-top: 0px;
      margin-left: 50px;
     
     img{
       width: 100%;
       
     }
     
   }
   /* purchase_button ここまで */
  }
  /* purchase_area ここまで */
   
   .product_description{
     clear: both;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
   }
   
  }
  /* product_display ここまで */
 }
  /* main ここまで */
}
/* container ここまで */

}
/* @media ここまで */
/* products ページ ここまで */












